.App {
  text-align: center;
  
}


body{
  background-color: white ;
}
 .list{
  text-align: center;
  width: max-content;
  margin: 0 auto;
 }

 
h1{
  font-size: 4em;
  text-align: center;
  color: lightseagreen;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  

  
}

h2{
  color: lightseagreen;
  font-size: 3em;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

h3{
  color: lightseagreen;
  font-size: 2em;
  text-shadow: -2px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


li{

  background-color: lightgrey;
  border: 1px solid black;
  list-style-type: none;
  margin:0 auto;
  margin-bottom: .5%;
  padding:1%;
  width: 70vw;
  font-size: 1.5rem;

  
 

}
ul{
  display: inline-block;
  text-align: center;
  max-width: 100%;
  margin:0 auto;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.tf{
  background-color: white;
  width:30%;
  
  
  
  
}

.textfield{
  
  display: block;
  justify-content: center;
  width: 100%;
 
}

.time{
  font-size: .8em;
  margin-left:5%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}



button{
  height:10%;
}


@media screen and (max-width: 600px) {

  
 ul{
  width:100%;
  margin: 0 auto;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
 }
  li{
    font-size:1em;
    margin:0 auto;
    width: 95vw;
    margin-bottom: 1.5%;
  }

  .list{
    max-width: 100vw;
  }

  main{
    margin:0 auto;
  }
}